.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    > div  > button {
        margin: 0 10px;
    }
}

.number {
    font-size: 44px;
    font-weight: normal;
}

.records {
    height: 200px;
    overflow: auto;
}